annotated-types
anyio
asyncpg
certifi
charset-normalizer
click
exceptiongroup
fastapi
greenlet
h11
idna
psycopg
psycopg-binary
psycopg2-binary
py-automapper
pydantic
pydantic-settings
pydantic_core
python-dotenv
requests
sniffio
SQLAlchemy
starlette
typing_extensions
urllib3
uvicorn
